body{
    background-color: limegreen;
}

div{
    color: blue;
    font-size: 1.4cm;
    position: relative;
    left: 36%;
}

#image {
    position: relative;
    left: 32%;
}

#what{
    position: relative;
    font-size: 0.9cm;
}

input{
    position: relative;
}
button{
    position: relative;
    left: 48%;
}
p{
    position: relative;
    font-size: 0.5cm;
}