body{
    background-color: limegreen;
}

div{
    color: blue;
    font-size: 2cm;
    position: relative;
}

#image {
    position: relative;
    left: 32%;
}

#what{
    position: relative;
    font-size: 1cm;
}

input{
    position: relative;
}
button{
    position: relative;
    left: 48%;
}
p{
    position: relative;
    font-size: 0.5cm;
}